{:deps {org.clojure/clojure       {:mvn/version "1.11.4"}
        com.datomic/peer          {:mvn/version "1.0.7187"}
        org.postgresql/postgresql {:mvn/version "42.7.4"}
        org.slf4j/slf4j-simple    {:mvn/version "2.0.16"}}

 :aliases {:repl {:extra-deps { com.bhauman/rebel-readline {:mvn/version "0.1.4" }}
                  :main-opts  ["-m" "rebel-readline.main"]}}}
